* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(254, 250, 224);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 40px;
  font-size: 3em;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.3em;
  }

  #rgb-color {
    font-size: 1.2em;
  }
}

p {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
}

#rgb-color {
  text-decoration: underline;
}

#score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.ball {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
}

#reset-colors-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#difficulty-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.3em;
  margin-right: 5px;
}

.form-select {
  max-width: 110px;
}
